<div id="rigaComandi">
  <button type="button" *ngIf="statoApp === 0" (click)="attivaApp()">Vai</button>
  <button type="button" *ngIf="statoApp === 1" (click)="fermaApp()">Ferma</button>
  {{statoApp}}{{ciclo}}
</div>
<div id="griglia" style="margin:0">
  <div id="riga" style="display:inline;float:left;clear:left;height:30px" *ngFor="let item2 of [].constructor(nRighe);index as i1">    
    <app-cell *ngFor="let item1 of [].constructor(nColonne);index as i2" [stato]="statoCella[i1][i2]" style="display:inline-block"
    (click)="cambiaStatoCella(i1,i2)">
    </app-cell>
  </div>
</div>
