#cella {
    width:30px;
    height:30px ;
    border: 1px solid black;
    display: block;
}

#cella.viva{
    background-color: yellow;
}

#cella.morta{
    background-color:gray;
}

#cella.debug{
    background-color:red;
}